{% extends "st/master.html" %}
{% block content %}
{% load static %}
<style>
    .hidden{
        display:none;
    }

</style>
<div style="background-image: url('{% static 'st/images/form-bg.png'%}');margin-top:-20px; height:580px; width:100%; ">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card" style="margin-top:100px; box-shadow:6px 6px 15px lightblue;">
                <div class="card-body">
                 <center> <h4 class="card-title">List Your Products Here</h4>
                     {{msg}}</center>
                  <hr>
                  <form class="forms-sample" method="POST" enctype="multipart/form-data" >
                      {%csrf_token%}
                    <br>
                    <div class="row d-flex justify-content-around">
                         <input hidden="hidden" value="True" name="active">
                          <div class="form-group col-4">

                            <label for="exampleInputUsername1">Product Name</label>
                            <input type="text" class="form-control" name="productname" id="exampleInputUsername1" placeholder="Product name  " required pattern="[a-zA-Z0-9\s]*" title="Special characters are not allowed" maxlength="35">
                          </div>

                          <div class="form-group col-4">

                            <label for="exampleInputUsername1">Product Image</label>
                            <input type="file" class="form-control" name="productimage" id="exampleInputUsername1"  accept="image/jpeg, image/png" required title="Only JPG and PNG files are allowed">
                          </div>

                              <div class="form-group col-4">
                                    <label for="exampleInputConfirmPassword1">Product Price</label>
                                    <input type="number" class="form-control" name="productprice" id="exampleInputConfirmPassword1" placeholder="Price of product" required>
                                </div>

                        <div class="form-group col-4">
                            <label for="exampleInputEmail1">Use Category (Model name)</label>
                            <select class="form-control" name="usecategorylist" id="selectmodel" placeholder="Model Name"  onchange="car_model_selected()" required>
                                <option hidden="hidden" value="">Select Model</option>
                                {% for model in data %}
                                    <option value="{{ model.id }}">{{model.companyname}} ( {{ model.modelname }} ) </option>
                                    <option class="hidden" id="{{model.id}}" value="{{model.companyname}}-{{model.modelyear}}" hidden="hidden"></option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-4">

                            <label for="exampleInputUsername1">Company Name</label>
                            <input type="text" class="form-control" name="companyname" value="" id="companyname" placeholder="Company name" readonly >
                          </div>

                          <div class="form-group col-4">
                            <label for="exampleInputConfirmPassword1">Model year</label>
                            <input type="text" class="form-control" name="modelyear" value="{{data.modelname}}" id="modelyear" placeholder="model year" readonly>
                          </div>

                    </div>
                    <div class="d-flex justify-content-end w-100">
                      To upload excel sheet click&nbsp;<a href="{% url 'st-exclel-product' %}">  here. </a>
                    </div>
                    <hr>
                  <center>
                    <input type="submit" class="btn btn-primary mr-2 t-1-07" value="Add Product">

                  </center>
                  </form>
                </div>
              </div>
            </div>
          </div>
</div>
<script>
    function car_model_selected(){
        console.log("Hello")

        let selectedmodelid=document.getElementById("selectmodel").value
        let cardet=document.getElementById(selectedmodelid).value
        let car=cardet.split("-")
        let companyname=document.getElementById("companyname")
        companyname.value=car[0]
        let modelyear=document.getElementById("modelyear")
        modelyear.value=car[1]

    }

    document.getElementById("exampleInputConfirmPassword1").addEventListener("input", function() {
    if (this.value.length > 7) {
        this.value = this.value.slice(0, 7);
    }
});
</script>
{% endblock %}