{% extends "cl/master.html" %}
{% block content %}
{% load static %}

<style>
    .team-overlay {
        background-color: rgb(0, 0, 0, 0.4) !important;
    }

    .filter-container span:hover,
    .filter-active {
        color: #0B2154;
    }

    .filter-container {
        position: relative;
        margin-bottom: 1rem;
        height: max-content;
    }

    .switch-stores {
        position: absolute !important;
        right: 0;

    }


    .filter-active::after {
        transform: scaleX(1) !important;
    }

    .filter-container>:nth-child(1) span {
        position: relative;
        transition: all 0.7s;
        padding-bottom: 0.3rem;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
    }

    .filter-container>:nth-child(1) span::after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        content: "";
        transition: all 0.7s;
        border-bottom: .2rem solid #0B2154;
        transform: scaleX(0);

    }

    .filter-container>:nth-child(1) span:hover::after {
        transform: scaleX(1);
    }


    .custom-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    .toggle-label {
        position: relative;
        cursor: pointer;
    }

    .toggle-checkbox {
        position: absolute;
        opacity: 0;
    }

    .toggle-slot {
        position: relative;
        height: 3em;
        width: 6em;
        background-color: #fff;
        border-radius: 1.5em;
        transition: background-color 250ms;
    }

    .toggle-checkbox:checked+.toggle-slot {
        background-color: #374151;
    }

    .icon-wrapper {
        position: absolute;
        top: 50%;
        left: 0.5em;
        transform: translateY(-50%);
    }

    .location-icon {
        height: 2em;
        width: 2em;
        color: white;
        transition: transform 500ms cubic-bezier(.26, 2.5, .46, .71);
    }

    .toggle-checkbox:checked+.toggle-slot .location-icon {
        transform: translateX(3em);
    }

    .toggle-button {
        position: absolute;
        top: 0.25em;

        height: 2.5em;
        width: 2.5em;
        border-radius: 50%;
        background-color: #ffeccf;
        box-shadow: inset 0px 0px 0px 0.5em #ffbb52;
        transition: background-color 250ms, box-shadow 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
    }

    .toggle-checkbox:checked+.toggle-slot .toggle-button {
        background-color: #485367;
        box-shadow: inset 0px 0px 0px 0.5em white;
        transform: translateX(3.25em);
    }

    .text-left {
        text-align: left;
    }

    .smalltext {
        font-size: 14px;

    }
   .distance-container{
   background-color:#d81324;
    display:flex;
    position:absolute;
    align-items:end;
    right:0;
    padding:.5rem 1rem;
    gap: .2rem;

   }
    .distance-container div{
    display:flex;
    align-items:end;
    color:#fff;

    }
    .distance-container h4{
    line-height:.6;
    color:#fff;
    }

    .location-switch-container {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;   
    }
    .location-switch-container span{
        font-size: 18px;  
    }
    .location-switch {
        display: flex;
        position: relative;
        cursor: pointer;
        border-radius: 100px;
        height: 50px;
        aspect-ratio: 5/3;
        padding: 0.5rem;
        overflow: hidden;
        * {
            transition: all .5s;
        }
      }

      .location-switch-background {
        position: absolute;
        background-color: gray;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
      }

      .location-switch input{
        position: absolute;
        opacity: 1;
        cursor: pointer;
        height: 10;
        width: 10;
        opacity: 0;
      }

      .location-switch-inner-ball {
        position: relative;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: white;
        display: grid;
        place-items: center;
        & i {
          opacity: 0;
        }
      }

      .location-switch input:checked ~ .location-switch-inner-ball {
        transform: translateX(100%);
        background-color: white;

        & i {
          opacity: 1;
        }
      }
      .location-switch input:checked ~ .location-switch-background {
        background-color: red;
      }
    
</style>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'cl/img/carousel-bg-1.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center justify-content-center justify-content-lg-start">
                            <div class="col-10 col-lg-7 text-center text-lg-start">
                                <h6 class="text-white text-uppercase mb-3 animated slideInDown">// Car Repairing //</h6>
                                <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">Qualified Car Repair
                                    Stores</h1>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">Learn More<i
                                        class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                            <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                <img class="img-fluid" src="{% static 'cl/img/carousel-1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'cl/img/carousel-bg-2.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center justify-content-center justify-content-lg-start">
                            <div class="col-10 col-lg-7 text-center text-lg-start">
                                <h6 class="text-white text-uppercase mb-3 animated slideInDown">// car Servicing //</h6>
                                <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">Qualified Car Service
                                    Stores</h1>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">Learn More<i
                                        class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                            <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                <img class="img-fluid" src="{% static 'cl/img/carousel-2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->



<!-- stores Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="text-center wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="mb-5">Our Modern Stores</h1>
                <div class="filter-container justify-content-center align-items-center d-flex">
                    <div>
                        <span class="mx-3 filter-active fs-4 " id="servicestore-fetch">Service Store</span>
                        <span class="mx-3 fs-4 " id="productstore-fetch">Product Store</span>
                    </div>
                    <div class="location-switch-container">

                        <span class="mx-3 " >Nearby Stores</span>
                        
                        <label class="location-switch">
                            <input type="checkbox" id="location-active" />
                            <div class="location-switch-background"></div>
                            <div class="location-switch-inner-ball">
                                <i class="fa-solid fa-location-dot fa-lg"></i>
                            </div>
                        </label>
                        
                    </div>
                </div>
            </div>

            <div class="row g-4 fetch-store-container" id="fetch-store-container">

              {% for servicedata,totalservices in maindata%}

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden " style="height:260px;">
                            <img class="img-fluid " src="{{ servicedata.imageofstore.url }}" alt="" style="height:100%;width:100%;">
                             <div class="team-overlay position-absolute start-0 top-0 w-100 h-100 flex-column">
                                 <h2 class="text-white">Total Services</h2>

                                  <h1 class="text-primary fs-3 btn btn-square mx-1">{{totalservices}}</h1>
<!--                                 <div class="d-flex">-->
<!--                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                                    <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>-->
<!--                                 </div>-->
                                </div>
                        </div>
                        <div class="bg-light p-4 position-relative">

                            <h5 class="fw-bold  text-left my-1 mb-0"><i class="fa-solid fa-shop me-2 fa-sm"></i>{{servicedata.storename}}</h5>
                            <span class="text-left d-block my-1 smalltext"><i
                                    class="fa-solid fa-phone ms-1 me-3"></i>{{servicedata.storecontact}}</span>
                            <span class="text-left d-block my-1 smalltext"><i
                                    class="fa-solid fa-envelope ms-1 me-3"></i>{{servicedata.email}}</span>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-location-dot ms-1 me-3"></i>
                                <span class="text-left w-100 my-1 smalltext ">{{servicedata.storeaddress}}</span>
                            </div>
                            <div class="d-flex justify-content-end"><a href="{% url 'cl-stores' servicedata.id %}"
                                    class="text-decoration-none bg-primary text-white p-2 ">View more <i
                                        class="fa-solid fa-arrow-right-long ms-1 mt-2"></i></a></div>
                        </div>
                    </div>
                </div>
              {% endfor %}

                <div class="view-more-container d-flex justify-content-center">
                    <a href="{% url 'cl-service' %}" class="d-flex align-items-center">
                        <h4 class="text-primary">View more </h4>
                        <i class="fa-solid fa-arrow-right fa-lg ms-2 view-more-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- stores End -->


<!-- Fact Start -->
<div class="container-fluid fact bg-dark my-5 py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-check fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">15</h2>
                <p class="text-white mb-0">Years Experience</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-users fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">10,000</h2>
                <p class="text-white mb-0">Satisfied Clients</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-solid fa-shop fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">150</h2>
                <p class="text-white mb-0">Listed Stores</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <i class="fa fa-car fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up">9,500</h2>
                <p class="text-white mb-0">Cars Serviced</p>
            </div>
        </div>
    </div>
</div>

<!-- Booking Start -->
<div class="container-fluid bg-secondary booking my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 py-5">
                <div class="py-5">
                    <h1 class="text-white mb-4">Be the part of <span
                            style="color:#D81324; font-size:58px;">snapfix</span> </h1>
                    <p class="text-white mb-0">"Listing your store on Snapfix boosts visibility, drives foot traffic, and streamlines transactions. Our platform connects you with a wider audience, enhancing brand credibility and increasing sales. Join Snapfix today to effortlessly showcase your services and products, and watch your business thrive!</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
                    data-wow-delay="0.6s">
                    <h1 class="text-white mb-4">Enter your Details</h1>
                    <h3>{{msg}}</h3>
                    <form id="myForm">
                        {% csrf_token%}
                        <div class="row g-3">
                            <div class="col-12 text-white fs-4" id="response-message"></div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" name="username" placeholder="Your Name"
                                    style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" name="email" placeholder="Your Email"
                                    style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" name="type" style="height: 55px;" required>
                                    <option hidden="hidden" value=""  selected >Select Store Type</option>
                                    <option value="Service Store" name="type">Service Store</option>
                                    <option value="Product Store" name="type">Product Store</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text" class="form-control border-0 " placeholder="Store name"
                                        name="storename" style="height: 55px;" required>
                                </div>
                            </div>
                            <!--                                <div class="col-12">-->
                            <!--                                    <textarea class="form-control border-0" placeholder="Special Request"></textarea>-->
                            <!--                                </div>-->
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3" type="submit">Request Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->




<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="text-primary text-uppercase">// Testimonial //</h6>
            <h1 class="mb-5">Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'cl/img/testimonial-1.jpg' %}"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">Helen Walker</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Listing on Snapfix boosted my business - seamless transactions and more customers!</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'cl/img/testimonial-2.jpg' %}"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">John Robinson</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Snapfix saved me when my car broke down. Quick connection to nearby help - can't beat it!</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'cl/img/testimonial-3.jpg' %}"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">Richard Miller</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Snapfix is my go-to for all things vehicle-related. Love the Wishlist feature!</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'cl/img/testimonial-4.jpg' %}"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">Anna Anderson</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Snapfix ensures top-notch service for our store - user-friendly and reliable.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonial End -->
<script>

    document.addEventListener('DOMContentLoaded', function() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        // Success callback
                        var userLatitude = position.coords.latitude;
                        var userLongitude = position.coords.longitude;

                        // Send latitude and longitude to the server
                        fetch(`${window.location.pathname}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken')  // Use the correct cookie name for CSRF token
                            },
                            body: JSON.stringify({ latitude: userLatitude, longitude: userLongitude })
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => console.log('Server response:', data))

                    },
                    function(error) {
                        // Error callback
                        alert("please allow location permission");
                    }
                );
            } else {
                console.error('Geolocation is not supported in this browser.');

            }

            // Function to get CSRF token from cookies
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });document.addEventListener('DOMContentLoaded', function() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        // Success callback
                        var userLatitude = position.coords.latitude;
                        var userLongitude = position.coords.longitude;

                        // Send latitude and longitude to the server
                        fetch(`/client/cl-nearbystore/`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken')  // Use the correct cookie name for CSRF token
                            },
                            body: JSON.stringify({ latitude: userLatitude, longitude: userLongitude })
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => console.log('Server response:', data))

                    },
                    function(error) {
                        // Error callback
                        alert("please allow location permission");
                    }
                );
            } else {
                console.error('Geolocation is not supported in this browser.');

            }

            // Function to get CSRF token from cookies
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });


    let servicestorefetch = document.getElementById("servicestore-fetch")
    let productstorefetch = document.getElementById("productstore-fetch")
    let location_input =document.getElementById('location-active')
    servicestorefetch.addEventListener("click", () => {
        servicestorefetch.classList.add("filter-active")
        productstorefetch.classList.remove("filter-active")
        fetchStores("service")
        if(location_input.checked){
            location_input.checked = false
        }
    })
    productstorefetch.addEventListener("click", () => {
        productstorefetch.classList.add("filter-active")
        servicestorefetch.classList.remove("filter-active")
        fetchStores("product")
        if(location_input.checked){
            location_input.checked = false
        }
    })
    function fetchStores(storetype) {
        console.log("working")
        let xhr = new XMLHttpRequest()
        xhr.open("GET", "/client/cl-fetchstore/" + storetype, true);

        xhr.onload = function () {
            if (this.status === 200) {
                let storedata = JSON.parse(this.responseText)
                let fetchstorecontainer = document.getElementById("fetch-store-container")
                fetchstorecontainer.innerHTML = "";
                for (let d in storedata) {
                    fetchstorecontainer.innerHTML += `<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden " style="height:260px;">
                            <img class="img-fluid "  src="${storedata[d].imageofstore}" alt="" style="height:100%;width:100%;">
                            <div class="team-overlay position-absolute start-0 top-0 w-100 h-100 flex-column">
                                 <h2 class="text-white"> Total ${storetype}s</h2>
                                 <h1 class="text-primary btn btn-square fs-3 mx-1">${storedata[d].totalproducts? storedata[d].totalproducts : 0 }</h1>


                                </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="fw-bold  text-left my-1 mb-0"><i class="fa-solid fa-shop me-2 fa-sm" ></i>${storedata[d].storename}</h5>
                            <span class="text-left d-block my-1 smalltext"><i class="fa-solid fa-phone ms-1 me-3"></i>${storedata[d].storecontact}</span>
                            <span class="text-left d-block my-1 smalltext"><i class="fa-solid fa-envelope ms-1 me-3"></i>${storedata[d].email}</span>
                            <span class="text-left d-block w-100 my-1 smalltext"><i class="fa-solid fa-location-dot ms-1 me-3"></i>${storedata[d].storeaddress}</span>
                            <div class="d-flex justify-content-end"><a href="http://127.0.0.1:8000/client/cl-${(storetype == 'product')? 'product' : 'stores'}/${storedata[d].id}" class="text-decoration-none bg-primary text-white p-2 ">View more <i class="fa-solid fa-arrow-right-long ms-1 mt-2"></i></a></div>
                        </div>
                    </div>
                </div>`;

                }
                fetchstorecontainer.innerHTML += `<div class="view-more-container d-flex justify-content-center">
                    <a href="{% url 'cl-service' %}" class="d-flex align-items-center">
                        <h4 class="text-primary">View more </h4>
                        <i class="fa-solid fa-arrow-right fa-lg ms-2 view-more-arrow"></i>
                    </a>
                </div>`
            }
            else {
                console.log("some error occured");
            }
        }
        xhr.send();

    }


    location_input.addEventListener("change" ,()=>{
    let filter_active =document.getElementsByClassName('filter-active')[0].innerText;
    if(location_input.checked){

    
     let xhr = new XMLHttpRequest()
        xhr.open("GET", "/client/cl-nearbystore_active/" + filter_active, true);

        xhr.onload = function () {
            if (this.status === 200) {
                let storedata = JSON.parse(this.responseText)
                console.log(storedata)
                let fetchstorecontainer = document.getElementById("fetch-store-container")
                fetchstorecontainer.innerHTML = "";
                for (let d in storedata) {
                    fetchstorecontainer.innerHTML += `<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden " style="height:260px;">
                            <img class="img-fluid "  src="${storedata[d].imageofstore}" alt="" style="height:100%;width:100%;">
                            <div class="team-overlay position-absolute start-0 top-0 w-100 h-100 flex-column">
                                 <h2 class="text-white"> Total ${(filter_active == 'Product Store')? 'product' : 'service'}s</h2>
                                 <h1 class="text-primary btn btn-square fs-3 mx-1">${storedata[d].totalproducts? storedata[d].totalproducts : 0 }</h1>


                                </div>
                        </div>
                        <div class="bg-light text-center position-relative p-4">
                        <div class="distance-container">
                                <div>
                                    <h4>
                                        ${storedata[d].distance}
                                    </h4>
                                </div>
                                <div>
                                    <span>
                                        km
                                    </span>
                                </div>
                            </div>
                            <h5 class="fw-bold  text-left my-1 mb-0"><i class="fa-solid fa-shop me-2 fa-sm" ></i>${storedata[d].storename}</h5>
                            <span class="text-left d-block my-1 smalltext"><i class="fa-solid fa-phone ms-1 me-3"></i>${storedata[d].storecontact}</span>
                            <span class="text-left d-block my-1 smalltext"><i class="fa-solid fa-envelope ms-1 me-3"></i>${storedata[d].email}</span>
                            <span class="text-left d-block w-100 my-1 smalltext"><i class="fa-solid fa-location-dot ms-1 me-3"></i>${storedata[d].storeaddress}</span>
                            <div class="d-flex justify-content-end"><a href="http://127.0.0.1:8000/client/cl-${(filter_active == 'Product Store')? 'product' : 'stores'}/${storedata[d].id}" class="text-decoration-none bg-primary text-white p-2 ">View more <i class="fa-solid fa-arrow-right-long ms-1 mt-2"></i></a></div>
                        </div>
                    </div>
                </div>`

                }
                fetchstorecontainer.innerHTML += `<div class="view-more-container d-flex justify-content-center">
                    <a href="{% url 'cl-service' %}" class="d-flex align-items-center">
                        <h4 class="text-primary">View more </h4>
                        <i class="fa-solid fa-arrow-right fa-lg ms-2 view-more-arrow"></i>
                    </a>
                </div>`
            }
            else {
                console.log("some error occured");
            }
        }
        xhr.send();

    }
    else{
        console.log("getting here")
        console.log(filter_active)
        if(filter_active === "Service Store"){
            fetchStores("service")
            console.log("hello")
        }
        else if(filter_active === "Product Store"){
            fetchStores("product")
        }
        
    }
    });


    $(document).ready(function() {
        $('#myForm').submit(function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            
            $.ajax({
                type: 'POST',
                url: '/client/cl-requeststorelisting/',
                data: formData,
                success: function(response) {
                    console.log(response)
                    $('#response-message').text(response.message);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });

</script>
{% endblock %}

    
    
 