{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Snapfix</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'cl/Snapfixfavicon.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'cl/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'cl/css/servicestore.css' %}" rel="stylesheet">
    <link href="{% static 'cl/css/store.css' %}" rel="stylesheet">
    <link href="{% static 'cl/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'cl/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'cl/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'cl/css/style.css' %}" rel="stylesheet">
    <style>
        .navbar-profile-icon
        {
            padding: 1rem .5rem;
            border: .1rem solid black;
            border-radius: 50%;
            transition: all .7s;
        }
        .navbar-profile-icon:hover{
            border-color: red;
        }
    </style>
</head>

<body>


<!--    &lt;!&ndash; Topbar Start &ndash;&gt;-->
<!--    <div class="container-fluid bg-light p-0">-->
<!--        <div class="row gx-0 d-none d-lg-flex">-->
<!--            <div class="col-lg-7 px-5 text-start">-->
<!--                <div class="h-100 d-inline-flex align-items-center py-3 me-4">-->
<!--                    <small class="fa fa-map-marker-alt text-primary me-2"></small>-->
<!--                    <small>123 Street, New York, USA</small>-->
<!--                </div>-->
<!--                <div class="h-100 d-inline-flex align-items-center py-3">-->
<!--                    <small class="far fa-clock text-primary me-2"></small>-->
<!--                    <small>Mon - Fri : 09.00 AM - 09.00 PM</small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-5 px-5 text-end">-->
<!--                <div class="h-100 d-inline-flex align-items-center py-3 me-4">-->
<!--                    <small class="fa fa-phone-alt text-primary me-2"></small>-->
<!--                    <small>+012 345 6789</small>-->
<!--                </div>-->
<!--                <div class="h-100 d-inline-flex align-items-center">-->
<!--                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>-->
<!--                    <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Topbar End &ndash;&gt;-->


    <!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'cl-index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><img src="{% static 'cl/Snapfixfavicon.png' %}" style="height:2.5rem; width:2.8rem; margin-bottom:5px; margin-right:3px;"></i>Snapfix</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0 align-items-center d-flex">
            <a href="{% url 'cl-index' %}" class="nav-item nav-link {% if request.path == '/client/' %}active{% endif %}">Home</a>
            <a href="{% url 'cl-about' %}" class="nav-item nav-link {% if request.path == '/client/cl-about' %}active{% endif %}">About</a>
            <a href="{% url 'cl-service' %}" class="nav-item nav-link nav-link-store {% if request.path == '/client/cl-service' %}active{% endif %}">Stores</a>
            <a href="{% url 'cl-contact'%}" class="nav-item nav-link {% if request.path == '/client/cl-contact' %}active{% endif %}">Contact</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-user fa-xl navbar-profile-icon"></i></a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="{% url 'cl-index' %}" class="dropdown-item">My profile ( {{request.user}} )
                        {% if request.user.is_active %}<a href="{% url 'cl-myorders' request.user.id %}" class="dropdown-item  {% if request.path == '/client/cl-myorders/' %}text-primary{% endif %}"> {% else %}<a href="{% url 'cl-login' %}" class="dropdown-item"> {% endif %}Order History</a>
                        {% if request.user.is_active %} <a href="{% url 'cl-logout' %}" class="dropdown-item">Logout</a> {% else %} </a> <a href="{% url 'cl-login' %}" class="dropdown-item">Login</a> {% endif %}
                </div>
            </div>
        </div>
        {% if request.user.is_active %}<a href="{% url 'cl-cart' request.user.id 0 %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">{% else %}<a href="{% url 'cl-login' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">{% endif %}cart<i class="fa-solid fa-cart-shopping ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->



{% block content %}

{% endblock %}

<!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>GF-10, Pushti Heights, Near <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chetna Gathiya Rath, Memnagar,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Ahmedabad, Gujarat 380052</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 09814 31434</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Snapfix.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Company</h4>
                    <a class="btn btn-link" href="">Contact</a>
                    <a class="btn btn-link" href="">Stores</a>
                    <a class="btn btn-link" href="">Careers</a>
                    <a class="btn btn-link" href="">privacy policy</a>
                    <a class="btn btn-link" href="">Terms & Conditions</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">About</h4>
                    <a class="btn btn-link" href="">Testimonials</a>
                    <a class="btn btn-link" href="">FAQs</a>
                    <a class="btn btn-link" href="">Blogs</a>
                    <a class="btn btn-link" href="">Certifications</a>
                    <a class="btn btn-link" href="">Recognitions</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Newsletter</h4>
                    <p>Stay updated on the latest news, offers, and updates by subscribing to our newsletter.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-12 text-center text-center mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Snapfix </a>2024 | All Right Reserved.

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <script>
        let links = document.getElementsByClassName("nav-link");
        for(let link of links){
        if((window.location.href.indexOf("cl-product")>-1 || (window.location.href.indexOf("cl-stores")>-1){

        document.getElementsByClassName("nav-link-store")[0].classList.add("active");
        }
            else if(link.href == window.location.href){
            link.classlist.add("active");
            }
        }
    </script>


    <!-- JavaScript Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'cl/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'cl/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'cl/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'cl/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'cl/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'cl/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'cl/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'cl/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'cl/js/main.js' %}"></script>


</body>

</html>